<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <div class="container-fluid">
      <div class="home-heading text-center row first-section">
        <div class="home-heading-wrapper">
          <h1 class="home-header-layout" Insurance made easy through proper claim management.</h1>
          <p>Claim advantage creators focus on making Insurance claims more convenient and assesible for the user on their own terms. We
            facilitate the needs for public adjusters, law firms, and insurance companies that are having trouble
            staying on top of their case.</p>
          <a class="btn btn-default" href="#">Read their stories</a>
        </div>
      </div>
    </div>

   <div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Every month claim advantage customers save...</h1>
      <p> <h2> 12 </h2> Hours in lost paperwork. </p>
      <p> <h2> 20 </h2> Hours searcing for information. </p>
      <p> <h2> 45 </h2> Hours in manual filing. </p>
    </div>
  </div>
</div>


<p></p>
<div class="container-fluid">
<div class="home-heading text-center row">
<div class="home-heading-wrapper">
  <img class="home-heading-logo" src="images/Photo on 10-23-17 at 9.17 PM.jpg" alt="Claims-advantage">
  <h1>Founder</h1>
</div>
</div>
</div>
  </body>
</html>
