<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/new-claim" method="post">
        <div class="form-group">
          <label for="email">Dol</label>
          <input type="text" name="dol" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Policy Number</label>
          <input type="text" name="policyNumber" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Deductible</label>
          <input type="text" name="deductible" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
        <label for="insurance">Insurance</label>
        <textarea name="insurance" class="form-control"></textarea>
        </div>
        <div class="container">
         <label for="upload" class="uploadButton">Upload</label>
         <input type="file" name="upload" id="upload">
        </div>


        <button type="submit">New Claim</button>
      </form>
    </div>
  </div>
</div>
